<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= pageTitle %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/nav.css" />
  </head>

  <body class="comic-style-bckgrnd grey-bckgrnd">
    <!-- Navbar (see views folder) -->
    <header><%- include("./nav-bar"); %></header>

    <main class="container">
      <div class="">
        <form action="/api/v1/marvelcomics" method="POST" class="mt-5">
          <div class="mb-3">
            <textarea
              class="form-control"
              id="description"
              name="description"
              placeholder="Enter description of the desired comic "
            ></textarea>
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </main>

    <!-- Footer (see views folder) -->
  </body>
</html>
