<footer class="py-5 bg-dark" style="margin-top: 15px">
  <div class="container" align="center">
    <a
      href="https://www.facebook.com/"
      rel="noopener noreferrer"
      target="_blank"
    >
      <i class="fa fa-facebook fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
    </a>
    <a href="https://twitter.com/" rel="noopener noreferrer" target="_blank">
      <i class="fa fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
    </a>
    <a
      href="https://www.linkedin.com/"
      rel="noopener noreferrer"
      target="_blank"
    >
      <i class="fa fa-linkedin fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
    </a>
    <a
      href="https://www.instagram.com/"
      rel="noopener noreferrer"
      target="_blank"
    >
      <i class="fa fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"></i>
    </a>
    <a
      href="https://www.pinterest.com/"
      rel="noopener noreferrer"
      target="_blank"
    >
      <i class="fa fa-pinterest fa-lg white-text"></i>
    </a>
  </div>

  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Comic Labs 2022</p>
    <p class="text-center text-white">Created By: Bryan, Juan, & Walter</p>
  </div>
</footer>
