<nav>
  <div class="container-fluid bg-img my-0">
    <div class="container align-content-center">
      <h4 class="big text-center">Comic Lab</h4>
    </div>
    <!-- <div class="superhero_fly">
      <img src="/images/flying-superhero.png" alt="" class="src" />
    </div> -->
  </div>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-0">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Comic Lab</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarColor02"
        aria-controls="navbarColor02"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="/comics"
              >Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/add-comic">Add Comic</a>
          </li>
        </ul>
        <form class="d-flex">
          <!-- <input
            class="form-control me-sm-2"
            type="text"
            placeholder="Search"
          />
          <button
            href="#!"
            class="btn btn-dark btn-outline-light btn-md my-0 ml-sm-2"
            type="submit"
          >
            Search
          </button> -->
          <li class="nav-item">
            <a class="nav-link" href="/logout">Sign Out</a>
          </li>
        </form>
      </div>
    </div>
  </nav>
</nav>
