/* Used for spacing below the form tags in addComic.ejs & updateComic.ejs */
form {
  margin-bottom: 30px;
}

 
.bg-img {
   /* image with transparent background used as src, then given a background of gradient colors to create a sunset-like sky */
  background-image: url("../images/City.png"), linear-gradient(red, yellow);
  /* backgrnd set to contain to make img as large as posisble in container, then auto to 
  scale the img while keeping its proportions */
  background-size: contain, auto;  
  /* places image at bottom edge in the container  */
  background-position: bottom;
  /* repeats the image horizontally */
  background-repeat: repeat-x;
  min-height: 200px;
}

footer {
  background: #585963;
}
a {
  margin-right: 13px;
}

a:link {
  color: #fff;
  text-decoration: none;
}
a:visited {
  color: #fff;
  text-decoration: none;
}
a:hover {
  color: #fff;
  text-decoration: none;
}
a:active {
  color: #fff;
  text-decoration: none;
}

.comic-style-bckgrnd {
  padding: 0px;
  background-size: 8px 8px, 8px 8px, 8px 8px, 8px 8px, 8px 8px, 100% 100%;
  margin-bottom: -4px;
}

.grey-bckgrnd {
  background-image: radial-gradient(
      ellipse farthest-corner,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 35%,
      #ffffff 30%,
      #ffffff 40%,
      rgba(0, 0, 0, 0) 90%
    ),
    radial-gradient(
      ellipse farthest-corner at 0px 0px,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 20%,
      #ffffff 15%,
      #ffffff 20%,
      rgba(0, 0, 0, 0) 50%
    ),
    radial-gradient(
      ellipse farthest-corner at 8px 8px,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 20%,
      #ffffff 15%,
      #ffffff 20%,
      rgba(0, 0, 0, 0) 50%
    ),
    radial-gradient(
      ellipse farthest-corner at 0px 8px,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 20%,
      #ffffff 15%,
      #ffffff 20%,
      rgba(0, 0, 0, 0) 40%
    ),
    radial-gradient(
      ellipse farthest-corner at 8px 0px,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 20%,
      #ffffff 15%,
      #ffffff 20%,
      rgba(0, 0, 0, 0) 50%
    ),
    linear-gradient(
      40deg,
      #484848 0,
      #959595 30%,
      #acacac 50%,
      #959595 70%,
      #484848 100%
    );
}
.big {
  font-family: ccbiffbamboom, sans-serif;
  color: black;
  margin: 30px 0 0.1em 0;
  text-shadow: -1px -1px yellow, 1px 1px orange, 2px 2px orange;
  -webkit-transform: rotate(-5deg) skew(-10deg, 0);
  -moz-transform: rotate(-5deg) skew(-10deg, 0);
  -ms-transform: rotate(-5deg) skew(-10deg, 0);
  -o-transform: rotate(-5deg) skew(-10deg, 0);
  transform: rotate(-5deg) skew(-10deg, 0);
  padding-bottom: 0px;
  float: left;
  width: 100%;
}
.big2 {
  font-family: ccbiffbamboom, sans-serif;
  color: black;
  margin: 30px 0 0.1em 0;
  text-shadow: -1px -1px yellow, 1px 1px orange, 2px 2px orange;
  -webkit-transform: rotate(-5deg) skew(-10deg, 0);
  -moz-transform: rotate(-5deg) skew(-10deg, 0);
  -ms-transform: rotate(-5deg) skew(-10deg, 0);
  -o-transform: rotate(-5deg) skew(-10deg, 0);
  transform: rotate(-5deg) skew(-10deg, 0);
  padding-bottom: 0px;
  width: 100%;
}
.big3 {
  font-family: ccbiffbamboom, sans-serif;
  color: black;
  margin: 30px 0 0.1em 0;
  text-shadow: -1px -1px yellow, 1px 1px orange, 2px 2px orange;
  padding-bottom: 0px;
  width: 100%;
}
h4.big {
  font-size: 60px;
}
h4.big2 {
  font-size: 50px;
}
label.big3 {
  font-size: 20px;
}
.carousel-item {
  background: #000;
}
.carousel .carousel-inner img {
  width: 100%;
  height: 34em;
  object-fit: cover;
  overflow: hidden;
}

.overlay-img {
  position: abosolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.5;
}
#img1 {
  background-image: url("../images/avengers.png");
}

#img2 {
  background-image: url("../images/hulk1.png");
}

#img3 {
  background-image: url("../images/wolverine.png");
}

.char-color {
  color: white;
}

.black-background {
  background-color: #000;
}

.card {
  position: relative;
  top: 0;
  left: 0;
  width: 250px;
  height: 450px;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 0.5s ease-in-out;
  perspective: 1000px;
}

/* when the user hovers over the card rotate 180 degrees via the Y-axis  */
.card:hover {
  transform: rotateY(180deg);
}
.thefront {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: transparent;
}

/* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
.theback {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  overflow: hidden;
  background: transparent;
  text-align: center;
  transform: rotateY(180deg);
}

/* used to make the description text scrollable within the card */
.scrollable{
  overflow-y: auto;
  max-height: 300px;
}

/* .superhero_fly img {
  width: 50px;
  position: absolute;
  top: 55%;
  animation: fly 14s infinite ease-in-out;
  overflow: hidden;
}
@keyframes fly {
  0% {
    left: -100px;
  }
  25% {
    top: 50%;
    transform: rotate(-30deg);
  }
  50% {
    transform: rotate(10deg);
    top: 60%;
  }
  75% {
    top: 60%;
    transform: rotate(-30deg);
  }
  100% {
    left: 110%;
    transform: rotate(-45deg);
  }
} */


